body > header {
    position: sticky;
    top: 0;
    background-color: var(--pico-background-color);
    box-shadow: 0 0 1rem var(--pico-background-color);
}


section#hero {
    min-height: 35rem;
    background-color: var(--pico-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    margin-bottom: 5rem;
}

section#hero h1 {
    font-size: 5rem;
    color: white;
}

section#likes div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

article {
    flex: 1;
    margin: 1;
}

section#likes articles {
    flex: 1;
    min-width: 15rem;
}

/* DEMOS ============================================================== */

section.demo div {
    display: flex;
    gap: 1rem;
    background-color: #6666;
    padding: 1rem;
    border-radius: 1rem;
    height: 15rem;
}

section.demo div p {
    font-size: 5rem;
    background-color: cyan;
    color: orangered;
    padding: 1rem;
    border-radius: 0.5rem;
    line-height: 1;
    width: 1.2em;
    margin: 0;
    text-align: center;
}
section#task2 div {
    justify-content: center;
}
section#task3 div {
    justify-content: space-between;
}
section#task4 div {
    justify-content: right;
}
section#task5 div {
    align-items: flex-start;
}
section#task6 div {
    align-items: flex-end;
}
section#task7 div {
    align-items: center;
}
section#task8 div {
    align-items:center;
    justify-content: center;
}
section#task9 div {
    flex-wrap: wrap;
}
section#task10 div {
    flex-direction: row-reverse;
}